@use "./variables" as *;
@use "./baseStyles" as *;


header {
  background-color: $secondary;
  p {
    color: $base;
    padding: .5rem 0 1rem 0;
  }
}


.topBar {
  padding: 1rem 0 7rem 0;
}

.mainMenu {
  display: flex;
  justify-content: center;
  margin: 0;

  a {
      padding: 0px 15px;
      font-size: 1rem;
      color: $base;

      &:hover {
        border-bottom: 4px rgb(181, 239, 80) solid;
        // border-radius: 30px;

            &:focus {
              border-bottom: 4px rgb(181, 239, 80) solid;     
      }
    }
  }
}

.getInTouch {
  padding: 1rem 0 12rem 0;
}


.btnContact {
  color: $primary;
}

// Hamburger Menu

.hamButton {
  background-color: transparent;
  border: 5px;
  color: $accent;
  cursor: pointer;
  font-size: 30px;
  padding: 10px;
  margin: 0;
  display: none;
}

.hamButton:hover:focus {
  outline: none;
}
