@use "./variables" as *;
@use "./baseStyles" as *;


// --- @media (max-width: 738px)---

  @media (max-width: 738px) {

  // HEADER

header h1 {
  font-size: 3rem;
}  // NAV

.topBar {
  display: flex;
  flex-direction: column;
}

  .mainMenu {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: $accent;

    a {
      color: $secondary;
    }
  }
  
  .mainMenu.show {
    position:relative;
    display: inline-block;
  }

.hamButton {
    display: block;
}


}



// ---@media (max-width: 538px)---

@media (max-width: 576px) {

    .mainMenu {
      display: none;
      flex-direction: column;
      width: 100%;
    }    

    .mainMenu.show {
        display: flex;
    }


      //SECTIONS

      //Skills

      .icon {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;

        i {
          padding: 0 8px 8px;
      }
    }


    // Projects

    .projects {
      display: flex;

    }

    .project {
      transform: scale(0.8);
    }

    .project btn {
      display: block;
    }

    .projectOne img {
      top: -35px;
    }

    .projectTwo img {
      top: -20px;
    }

    .projectThree img {
      top: -25px;

    }

    .projectFour img {
      top: -25px;
    }
}

// ---@media (max-width: 390px)---

@media (max-width: 390px) {

      //Skills

.icon {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      
      i {
        padding: 0 4px 4px;
    }
  }
      // Projects

.project {
  display: flex;
  flex-direction: column;

      .btn {
          position: relative;
          transform: scale(0.6);
          bottom: -520px;
      }

      .btnCode {
          left: 10px;
      }

      .btnLive {
          left: 10px;
    }
  }
}