@use "./variables" as *;



// about me Section

.about {
  background-color: $about;
  margin: 4rem 0;
  padding: 2rem 0 1rem;

  
  p {
    padding: 1rem 0 7rem;
  }
}

//shout out: https://css-generators.com/wavy-shapes/
.about {
  --mask:
    radial-gradient(67.24px at 50% 94.30px,#000 99%,#0000 101%) calc(50% - 82px) 0/164px 51% repeat-x,
    radial-gradient(67.24px at 50% -53.3px,#0000 99%,#000 101%) 50% 41px/164px calc(51% - 41px) repeat-x,
    radial-gradient(67.24px at 50% calc(100% - 94.30px),#000 99%,#0000 101%) calc(50% - 82px) 100%/164px 51% repeat-x,
    radial-gradient(67.24px at 50% calc(100% + 53.30px),#0000 99%,#000 101%) 50% calc(100% - 41px)/164px calc(51% - 41px) repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask);
}




// skills Section

.skills {
  background-color: $skills;
  padding: 4rem 0 4rem;

}

.icon {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0 6rem;
  font-size: 4rem;

  i {
    display: block;
    color: $secondary;


  }

}

// projects Section


.projectGallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem 0 6rem;


}


.project {
    position: relative;
    background: $base;
    height: 500px;
    width: 400px;
    border: solid 2px $secondary;
    border-radius: 1rem;
    box-shadow: 5px 10px $secondary;

      p {
        padding: 0;
        font-size: 16px;
  }
}
  
  
  
    .project img {
      position: absolute;

    }

    .projectOne img {
      left: 0px;
      top: -45px;
    }

    .projectTwo img {
      left: -10px;
      top: -30px;
    }

    .projectThree img {
      left: -10px;
      top: -70px;
    }


    .projectFour img {
      left: -10px;
      top: -70px;
    }

.project h3 { 
      position:absolute;
      left: 1rem;
      top: 12rem;
}

.project h4 {
        position:absolute;
        left: 1rem;
        top: 13.5rem;
}
    
.project p {
        position:absolute;
        text-align: left;
        left: 1rem;
        top: 14.5rem;
}
  

.btnLive {
  position: absolute;
  bottom: 1.5rem;
  left: 2rem;


}

.btnCode {
  position: absolute;
  bottom: 1.5rem;
  right: 2rem;


}

  // contact Section

  .contact {
    background-color: $accent;
    h2 {
      padding-bottom: 2rem;
    }
  }

  .social {
    display: flex;
    justify-content: center;

    i {
      color: $primary;
      font-size: 1.5rem;
      padding: 5px;
    
    }
  }
  
  p {
    padding: .5rem 0 2rem;
  }


  .email {
    padding-bottom: 6rem;
  }

  .btnEmail {
    background-color: $base;
    color: $secondary;

  }