@use "./variables" as *;


.about {
  height: 60vh;
  width: auto;
  background-color: $secondary;
}

.skills {
  height: 80vh;
  width: auto;
  background-color: $skills;
}

.projects {
  height: 120vh;
  width: auto;
  background-color: $projects;
}