/*$bodyFont: */

/*$headingFont: "Young Serif";
$bodyFont: "Jakarta Sans";*/

/* _variables site colour palette */

$primary: #363636; 
$secondary: #ffffff; 
$accent: #efc3b4; 
$header: #b3a9a8;
$footer: #ede2e0;
$baseFont: "Source Sans Pro Regular", sans-serif;
