
// palette
$primary: #2A3033; 
$secondary: #F2F4F5; 
$accent: #E9D2C3; 
$header: #585B4E;
$skills: #979688;
$projects: #F2F4F5;
$footer: #BBBCB5;

// font styles
$baseFont: "Source Sans Pro Regular", sans-serif;
$playFont: "Playfair Display Bold Italic";
