
// palette
$primary: #251f06;
$secondary:  #877418;
$base: #F8F1E9;
$accent: #ECD2D5; 
$about: #F3D2BE;



// font styles
$playFont: 'Playfair Display', serif;
$baseFont: 'Source Sans Pro', sans-serif;
